@import './sidenav.scss';
@import './chip.scss';
.body {
    background-color: black;
}
.background-image {
    opacity: 0.5;
}
.main {
    margin-left: 300px;
    background-color: #111;
    text-align: center;
    height: min-content;
    border-radius: 8px;
}

.main-transparent {
    margin-left: 300px;
    text-align: center;
    height: min-content;
    border-radius: 8px;
}

.indeximg {
    position: relative;
    align-self: baseline;
    width: 100%;
    border-radius: 8px;
}

.topbar {
    position: sticky;
    top: 0;
}

.buttonbox {
    display: flex;
    
}

.button-sfap {
    color: black;
    background-color: rgb(250, 200, 80);
    width: 25%;
    position: relative;
    display: inline;
    font-size: 42px;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    text-decoration: none
}

.button-sfap-drop {
    color: black;
    background-color: rgb(250, 200, 80);
    
    font-size: 42px;
    border-radius: 6px;
    text-decoration: none;
}

.button-sfap:hover, .button-sfap-drop:hover {
    color: red;
    transition: 100ms;
}

.fontstandard {
    color: white;
    font-family: 'Inter', sans-serif;
    font-family: 'Mukta', sans-serif;
    margin-left: 8px;
    text-align: left;
}

.fontheader {
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-family: 'Mukta', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}

.homewrap {
    position: fixed;
    margin-left: 35%;
    color: aliceblue;
    text-align: center;
    font-size: 32px;
    border: 4px;
    display: grid;
    grid-gap: 4px;
    font-family: 'Inter', sans-serif;
    font-family: 'Mukta', sans-serif;
}

.texthome {
    background-color: #111;
    color: white;
    width: auto;
    position: relative;
    text-decoration: none;
}

.texthome:hover {
    background-color: #1111119d;
    color: red;
    transition: 200ms;
}



.imghomescreen {
    height: 400px;
    width: 400px;

}
.innerText {
    font-size: 16px;
    color: orange;
}

.table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    }

th {
    font-size: 24px;
    font-style:italic;
    cursor: pointer;
}

th, td {
    text-align: left;
    padding: 16px;
  }
  tr:nth-child(odd) {
    background-color: #e71313
  }
  tr:nth-child(even) {
    background-color: #edae00
  }